@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Merriweather');
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.info_question{
  margin-right:30px;
  font-size:1em;
  font-family: 'Merriweather', serif;
  text-align: center;
  strong{
    display: block;
    font-size: 1.3em;
  }
  .votes, .answers{

    width: 70px;
    height: 50px;

  }
.views{
  margin-top: 5px;
}
  .status{
    &.unanswered{
      border:none;
    }
    &.answered{
      border: 1px solid $color-green;
    color:$color-green;
    }

    &.accepted{
      background: $color-green;
      color:$color-white;
    }
  }
}

#home_title{
  font-family: 'Fugaz One', cursive;
color:white;
  font-style: italic;
  font-size: 4em;
}