@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Merriweather');

#questions_main_title{
    color: 	#008B8B;
    font-family: 'Fugaz One', cursive;

}
.question_title{
    font-family: 'Merriweather', serif;

    font-style: italic;
  margin-bottom: 15px;
    color:	#B22222;
}
.question_title:link {
color:	#B22222;
}

.question_body{
    font-family: 'Merriweather', serif;
    color: black;

}

.form-delete{
    display: inline;
}


